---
layout: pages.njk
title: Apache !!!
---

<!-- Page Content-->
<section class="py-5">
	<div class="container">
		<div class="row text-center mb-5">
			<h1 class="fw-bolder">Apache</h1>
			<p class="lead fw-normal text-muted mb-0">El servidor HTTP Apache es un servidor web HTTP de código abierto. Aqui veremos como se instala y configura.</p>
		</div>
	</div>
</section>

<section class="">
	<div class="container">
		<div class="row mb-3">
			<nav>
				<div class="nav nav-tabs" id="nav-tab" role="tablist">
					<button class="nav-link active text-dark" id="rhel-tab" data-bs-toggle="tab" data-bs-target="#rhel" type="button" role="tab" aria-controls="nav-RHEL" aria-selected="true">Instalación</button>
					<button class="nav-link text-dark" id="nav-virtualHost-tab" data-bs-toggle="tab" data-bs-target="#nav-virtualHost" type="button" role="tab" aria-controls="nav-virtualHost" aria-selected="false">Virtual Host</button>
					<button class="nav-link text-dark" id="nav-configuraciones-tab" data-bs-toggle="tab" data-bs-target="#nav-configuraciones" type="button" role="tab" aria-controls="nav-configuraciones" aria-selected="false">Configuraciones</button>
				</div>
			</nav>
			<div class="tab-content mt-3" id="nav-tabContent">
				<div class="tab-pane fade show active" id="rhel" role="tabpanel" aria-labelledby="rhel-tab">
					<h1 class="display-6"><img src="/img/rhel.png" alt="" width="60" /> RHEL</h1>
					<p class="h5">Estas instrucciones estan garantizadas para Sistemas Operativos basados en RHEL como Rocky Linux, Almalinux y Centos.</p>
					<h1 class="display-6 mt-5">Instalación 🔧</h1>
					<p>1 - Para instalar la ultima version de apache usamos:</p>
					<pre class=""><code class="language-bash">sudo dnf install httpd</code></pre>
					<h1 class="display-6 mt-5">Versión 📦</h1>
					<p>2 - Para ver la version del apache:</p>
					<pre class=""><code class="language-bash">sudo httpd -v</code></pre>
					<h1 class="display-6 mt-5">Comandos basicos ⚙️</h1>
					<p>3 - Activar inicio automatico del Servicio:</p>
					<pre class=""><code class="language-bash">sudo systemctl enable httpd</code></pre>
					<p>4 - Iniciar Servicio:</p>
					<pre class=""><code class="language-bash">sudo systemctl start httpd</code></pre>
					<p>5- Status de Servicio:</p>
					<pre class=""><code class="language-bash">sudo systemctl status httpd</code></pre>
					<p>6 - Reiniciar Servicio:</p>
					<pre class=""><code class="language-bash">sudo systemctl restart httpd</code></pre>
					<p>7 - Detener Servicio:</p>
					<pre class=""><code class="language-bash">sudo systemctl stop httpd</code></pre>
					<p>8 - Desactivar inicio automatico del Servicio:</p>
					<pre class=""><code class="language-bash">sudo systemctl disable httpd</code></pre>
					<h1 class="display-6 mt-5"><img src="/img/debian.png" alt="" width="60" /> Debian</h1>
					<p class="h5">Estas instrucciones estan garantizadas para Sistemas Operativos basados en Debian, Ubuntu.</p>
					<h1 class="display-6 mt-5">Documentación ✒️</h1>
					<p>La documentación oficial de apache se encuentra en: <a href="https://httpd.apache.org/docs-project/" class="">Apache</a></p>
				</div>
				<div class="tab-pane fade" id="nav-virtualHost" role="tabpanel" aria-labelledby="nav-debian-tab">
					<h1 class="display-6"><img src="/img/rhel.png" alt="" width="60" /> RHEL</h1>
					<p class="h5">Estas instrucciones estan garantizadas para Sistemas Operativos basados en RHEL como Rocky Linux, Almalinux y Centos.</p>
					<h1 class="display-6 mt-5">Archivos de Configuración 🔧</h1>
					<p>1 - Para crear un VirtuaHost primero creamo un archivo en la siguiente ruta <mark>/etc/httpd/conf.d/</mark>, por lo general se usa el nombre del dominio:</p>
					<pre class=""><code class="language-bash">sudo nano /etc/httpd/conf.d/dominio.local.conf</code></pre>
					<h1 class="display-6 mt-5">HTTP ⚙️</h1>
					<p>2 - Ejemplo de virtualhost para http:</p>
					<pre class="">
						<code class="language-apacheconf">
						&lt;VirtualHost *:80&gt;
							DocumentRoot "/var/www/sitio"
							ServerName sitio.local
							ServerAlias *.sitio.local

							ErrorLog /var/log/httpd/sitio.local-error_log
							CustomLog /var/log/httpd/sitio.local-access_log combined

							&lt;Directory "/var/www/sitio"&gt;
									AllowOverride All
									Require all granted
							&lt;/Directory&gt;

							# Redirigir todo el tráfico HTTP a HTTPS
							RewriteEngine On
							RewriteCond %{HTTPS} off
							RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
						&lt;/VirtualHost&gt;
						</code>
					</pre>
					<p>3 - Reinicio del servicio para que tome los cambios::</p>
					<pre class=""><code class="language-bash">sudo systemctl restart httpd</code></pre>
					<h1 class="display-6 mt-5">HTTPS ⚙️</h1>
					<p>4 - Ejemplo de virtualhost para https:</p>
					<pre class="">
						<code class="language-apacheconf">
						&lt;VirtualHost *:443&gt;
							DocumentRoot "/var/www/sitio"
							ServerName sitio.local
							ServerAlias *.sitio.local

							ErrorLog /var/log/httpd/sitio.local-ssl_error_log
							CustomLog /var/log/httpd/sitio.local-ssl_access_log combine

							SSLEngine on
							SSLCertificateFile /etc/pki/tls/certs/wildcard.local.crt
							SSLCertificateKeyFile /etc/pki/tls/private/wildcard.local.key

							&lt;Directory "/var/www/sitio"&gt;
									AllowOverride All
									Require all granted
							&lt;/Directory&gt;
						&lt;/VirtualHost&gt;
						</code>
					</pre>
					<p>5 - Reinicio del servicio para que tome los cambios::</p>
					<pre class=""><code class="language-bash">sudo systemctl restart httpd</code></pre>
					<h1 class="display-6 mt-5"><img src="/img/debian.png" alt="" width="60" /> Debian</h1>
					<p class="h5">Estas instrucciones estan garantizadas para Sistemas Operativos basados en Debian, Ubuntu.</p>
					<h1 class="display-6 mt-5">Documentación ✒️</h1>
					<p>La documentación oficial de apache se encuentra en: <a href="https://httpd.apache.org/docs-project/" class="">Apache</a></p>
				</div>
				<div class="tab-pane fade" id="nav-configuraciones" role="tabpanel" aria-labelledby="nav-configuraciones-tab">
					<h1 class="display-6"><img src="/img/rhel.png" alt="" width="60" /> RHEL</h1>
					<p class="h5">Estas instrucciones estan garantizadas para Sistemas Operativos basados en RHEL como Rocky Linux, Almalinux y Centos.</p>
					<h1 class="display-6 mt-5"><img src="/img/debian.png" alt="" width="60" /> Debian</h1>
					<p class="h5">Estas instrucciones estan garantizadas para Sistemas Operativos basados en Debian, Ubuntu.</p>
				</div>
			</div>
		</div>
	</div>
</section>
