---
layout: pages.njk
title: Configuraciones !!!
---

<!-- Page Content-->
<section class="py-5">
	<div class="container">
		<div class="row text-center mb-5">
			<h1 class="fw-bolder">Configuraciones</h1>
			<p class="lead fw-normal text-muted mb-0">El servidor HTTP Apache es un servidor web HTTP de código abierto. Aqui veremos como se instala y configura.</p>
		</div>
	</div>
</section>

<section class="">
	<div class="container">
		<div class="row mb-3">
			<nav>
				<div class="nav nav-tabs" id="nav-tab" role="tablist">
					<button class="nav-link active" id="RHEL-tab" data-bs-toggle="tab" data-bs-target="#RHEL" type="button" role="tab" aria-controls="nav-RHEL" aria-selected="true">RHEL</button>
					<button class="nav-link" id="nav-debian-tab" data-bs-toggle="tab" data-bs-target="#nav-debian" type="button" role="tab" aria-controls="nav-debian" aria-selected="false">Debian</button>
				</div>
			</nav>
			<div class="tab-content mt-3" id="nav-tabContent">
				<div class="tab-pane fade show active" id="RHEL" role="tabpanel" aria-labelledby="RHEL-tab">
					<h1 class="display-6">Empezando 🚀</h1>
					<p class="h5">Estas instrucciones estan garantizadas para Sistemas Operativos basados en RHEL como Rocky Linux, Almalinux y Centos.</p>

					<h1 class="display-6 mt-5">Documentación ✒️</h1>
					<p>La documentación oficial de apache se encuentra en: <a href="https://httpd.apache.org/docs-project/" class="">Apache</a></p>
				</div>
				<div class="tab-pane fade" id="nav-debian" role="tabpanel" aria-labelledby="nav-debian-tab">
					<h1 class="display-6">Empezando 🚀</h1>
					<p class="h5 mb-5">Estas instrucciones estan garantizadas para Sistemas Operativos basados en Debian, Ubuntu.</p>

					<h1 class="display-6 mt-5">Documentación ✒️</h1>
					<p>La documentación oficial de apache se encuentra en: <a href="https://httpd.apache.org/docs-project/" class="">Apache</a></p>
				</div>
			</div>
		</div>
	</div>
</section>
