---
layout: main.njk
title: Home !!!
---

<!-- Features section-->
<section class="py-5" id="features">
	<div class="container px-5 my-5">
		<div class="row gx-5">
			<div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Codigos mas utilizados, configuraciones completas...</h2></div>
			<div class="col-lg-8">
				<div class="row gx-5 row-cols-1 row-cols-md-2">
					<div class="col mb-5 h-100">
						<div class="feature mb-3">
							<a href="/pages/linux/index"><img src="/img/2.png" alt="" width="60" /></a>
						</div>
						<h2 class="h5">Linux</h2>
						<p class="mb-0">Linux es un sistema operativo de código libre (open source), que quiere decir que puedes conseguirlo de forma totalmente gratis.</p>
					</div>
					<div class="col mb-5 h-100">
						<div class="feature mb-3">
							<a href="/pages/windows/index"><img src="/img/3.png" alt="" width="60" /></a>
						</div>
						<h2 class="h5">Windows</h2>
						<p class="mb-0">Windows es el nombre de una familia de distribuciones de software y sistemas operativos para PC, servidores, etc.</p>
					</div>
					<div class="col mb-5 mb-md-0 h-100">
						<div class="feature mb-3"><img src="/img/4.png" alt="" width="60" /></div>
						<h2 class="h5">Aplicaciones</h2>
						<p class="mb-0">Programas y herramientas mas comunes para la gestión de servidores, servicion, etc.</p>
					</div>
					<div class="col h-100">
						<div class="feature mb-3"><img src="/img/5.png" alt="" width="60" /></div>
						<h2 class="h5">Scripts</h2>
						<p class="mb-0">Un script es un conjunto de instrucciones escritas en un lenguaje de programación que se diseña con el objetivo de poder automatizar tareas.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Blog preview section-->
<section class="py-5">
	<div class="container px-5 my-5">
		<!-- Call to action-->
		<aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
			<div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
				<div class="mb-4 mb-xl-0">
					<div class="fs-3 fw-bold text-white">New products, delivered to you.</div>
					<div class="text-white-50">Sign up for our newsletter for the latest updates.</div>
				</div>
				<div class="ms-xl-4">
					<div class="input-group mb-2">
						<input class="form-control" type="text" placeholder="Email address..." aria-label="Email address..." aria-describedby="button-newsletter" />
						<button class="btn btn-outline-light" id="button-newsletter" type="button">Sign up</button>
					</div>
					<div class="small text-white-50">We care about privacy, and will never share your data.</div>
				</div>
			</div>
		</aside>
	</div>
</section>
