---
layout: pages.njk
title: MariaDB !!!
---

<!-- Page Content-->
<section class="py-5">
	<div class="container">
		<div class="row text-center mb-5">
			<h1 class="fw-bolder">MariaDB</h1>
			<p class="lead fw-normal text-muted mb-0">MariaDB es un sistema de gestión de bases de datos derivado de MySQL con licencia GPL (General Public License).</p>
		</div>
	</div>
</section>

<section class="">
	<div class="container">
		<div class="row mb-3">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/pages/linux/">Linux</a></li>
					<li class="breadcrumb-item active" aria-current="page">MariaDB</li>
				</ol>
			</nav>
			<nav>
				<div class="nav nav-tabs" id="nav-tab" role="tablist">
					<button class="nav-link active text-dark" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab" aria-controls="nav-tab1" aria-selected="true">Instalación</button>
					<button class="nav-link text-dark" id="nav-tab2-tab" data-bs-toggle="tab" data-bs-target="#nav-tab2" type="button" role="tab" aria-controls="nav-tab2" aria-selected="false">Querys</button>
					<button class="nav-link text-dark" id="nav-tab3-tab" data-bs-toggle="tab" data-bs-target="#nav-tab3" type="button" role="tab" aria-controls="nav-tab3" aria-selected="false">Configuraciones</button>
					<button class="nav-link text-dark" id="nav-tab4-tab" data-bs-toggle="tab" data-bs-target="#nav-tab4" type="button" role="tab" aria-controls="nav-tab4" aria-selected="false">Extras</button>
				</div>
			</nav>
			<div class="tab-content mt-3" id="nav-tabContent">
				<div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
					<h1 class="display-6"><img src="/img/rhel.png" alt="" width="60" /> RHEL</h1>
					<h1 class="display-6 mt-5">Instalación 🔧</h1>
					<p>1 - Descargamos la ultima versión de mariadb:</p>
					<pre class=""><code class="language-bash">curl -LsS https://downloads.mariadb.com/MariaDB/mariadb_repo_setup | bash</code></pre>
					<p>1 - Instalamos MariaDB:</p>
					<pre class=""><code class="language-bash">sudo dnf install mariadb-server</code></pre>
					<h1 class="display-6 mt-5">Versión 📦</h1>
					<p>2 - Para ver la version de MariaDB:</p>
					<pre class=""><code class="language-bash">sudo mariadb -V</code></pre>
					<h1 class="display-6 mt-5">Comandos basicos 💻</h1>
					<p>3 - Activar inicio automatico del Servicio:</p>
					<pre class=""><code class="language-bash">sudo systemctl enable mariadb</code></pre>
					<p>4 - Iniciar Servicio:</p>
					<pre class=""><code class="language-bash">sudo systemctl start mariadb</code></pre>
					<p>5- Status de Servicio:</p>
					<pre class=""><code class="language-bash">sudo systemctl status mariadb</code></pre>
					<p>6 - Reiniciar Servicio:</p>
					<pre class=""><code class="language-bash">sudo systemctl restart mariadb</code></pre>
					<p>7 - Detener Servicio:</p>
					<pre class=""><code class="language-bash">sudo systemctl stop mariadb</code></pre>
					<p>8 - Desactivar inicio automatico del Servicio:</p>
					<pre class=""><code class="language-bash">sudo systemctl disable mariadb</code></pre>
					<h1 class="display-6 mt-5">Establecer configuraciones básicas de seguridad ⚙️</h1>
					<p>1 - Luego de instalado y iniciado el servicio de MariaDB configuramos unas politicas de seguridad:</p>
					<pre class=""><code class="language-bash">sudo mariadb-secure-installation</code></pre>
					<p>2 - Seguimos los pasos y respondemos segun nuestras necesidades:</p>
					<pre class=""><code class="language-bash">sudo systemctl enable mariadb</code></pre>
					<h1 class="display-6 mt-5"><img src="/img/debian.png" alt="" width="60" /> Debian</h1>
					<h1 class="display-6 mt-5">Documentación ✒️</h1>
					<p>La documentación oficial de MariaDB se encuentra en: <a href="https://mariadb.org/documentation/" class="">MariaDB</a></p>
				</div>
				<div class="tab-pane fade" id="nav-tab2" role="tabpanel" aria-labelledby="nav-tab2-tab">
					<h1 class="display-6"><img src="/img/rhel.png" alt="" width="60" /> RHEL</h1>
					<h1 class="display-6 mt-5">Querys Basicos 🔧</h1>
					<p>1 - Para conectarnos a la base de datos localmente:</p>
					<pre class=""><code class="language-bash">mariadb -u root -p</code></pre>
					<p>2 - Para conectarnos la base de datos remotamente:</p>
					<pre class=""><code class="language-bash">mariadb -h host -u user -p</code></pre>
					<p>3 - Crear base de datos con utf8_general:</p>
					<pre class=""><code class="language-sql">CREATE DATABASE database CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;</code></pre>
					<p>4 - Creamos un usuario:</p>
					<pre class=""><code class="language-sql">CREATE USER 'user'@'%' IDENTIFIED BY 'passwd';</code></pre>
					<p>5 - Le damos permisos a ese usuario sobre esa base de datos:</p>
					<pre class=""><code class="language-sql">GRANT ALL PRIVILEGES ON database.* TO 'user'@'%';</code></pre>
					<p>6 - Para que un usuario Administrador tenga permisos sobre todas las bases de datos:</p>
					<pre class=""><code class="language-sql">GRANT ALL PRIVILEGES ON *.* TO 'user'@'%' WITH GRANT OPTION;</code></pre>
					<p>7 - Permiso a usuario solo de CRUD sobre esa base de datos:</p>
					<pre class=""><code class="language-sql">GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP ON database.* TO 'user'@'%';</code></pre>
					<p>8 - Recarga los privilegios:</p>
					<pre class=""><code class="language-sql">FLUSH PRIVILEGES;</code></pre>
					<h1 class="display-6 mt-5"><img src="/img/debian.png" alt="" width="60" /> Debian</h1>
					<h1 class="display-6 mt-5">Documentación ✒️</h1>
					<p>La documentación oficial de MariaDB se encuentra en: <a href="https://mariadb.org/documentation/" class="">MariaDB</a></p>
				</div>
				<div class="tab-pane fade" id="nav-tab3" role="tabpanel" aria-labelledby="nav-tab3-tab">
					<h1 class="display-6"><img src="/img/rhel.png" alt="" width="60" /> RHEL</h1>
					<h1 class="display-6 mt-5">Configuraciónes 🔧</h1>
					<h1 class="display-6 mt-5"><img src="/img/debian.png" alt="" width="60" /> Debian</h1>
					<h1 class="display-6 mt-5">Documentación ✒️</h1>
					<p>La documentación oficial de MariaDB se encuentra en: <a href="https://mariadb.org/documentation/" class="">MariaDB</a></p>
				</div>
				<div class="tab-pane fade" id="nav-tab4" role="tabpanel" aria-labelledby="nav-tab4-tab">
					<h1 class="display-6"><img src="/img/rhel.png" alt="" width="60" /> Extras</h1>
					<h1 class="display-6 mt-5">Extras 🔧</h1>
					<p>1 - Para crear un usuario para backups:</p>
					<pre class=""><code class="language-sql">CREATE USER 'backup'@'localhost' IDENTIFIED BY 'passwd';</code></pre>
					<p>2 - Le damos pribilegios de select:</p>
					<pre class=""><code class="language-sql">GRANT SELECT, LOCK TABLES, SHOW DATABASES ON *.* TO 'backup'@'localhost';</code></pre>
					<h1 class="display-6 mt-5"><img src="/img/debian.png" alt="" width="60" /> Debian</h1>
					<h1 class="display-6 mt-5">Documentación ✒️</h1>
					<p>La documentación oficial de MariaDB se encuentra en: <a href="https://mariadb.org/documentation/" class="">MariaDB</a></p>
				</div>
			</div>
		</div>
	</div>
</section>
