pre {
	position: relative;
	background-color: #1e1e1e;
	color: #d4d4d4;
	padding: 15px;
	border-radius: 5px;
	overflow-x: auto;
}

.copy-button {
	position: absolute;
	top: 1px;
	right: 10px;
	background: none;
	border: none;
	color: #d4d4d4;
	cursor: pointer;
	font-size: 1.7em;
	padding: 5px;
}

.copy-button:hover {
	opacity: 1;
	color: #ffffff;
}
