---
layout: main.njk
title: Pagina Principal !!!
---

<ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/linux/apache/instalar">Instalar</a></li>
    <li><a href="/contacto">Contacto</a></li>
    <li><a href="/blog">Blog</a></li>
</ul>
