---
layout: pages.njk
title: Linux !!!
---

<!-- Page Content-->
<section class="py-5">
	<div class="container">
		<div class="row text-center mb-5">
			<h1 class="fw-bolder">Linux</h1>
			<p class="lead fw-normal text-muted mb-0">Instalciones, configuraciones, codigos basiscos y avanzados.</p>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<ul class="list-group list-group-flush">
					<li class="list-group-item display-6 text-primary">Web</li>
					<a href="./apache/index" class="list-group-item list-group-item-action">Apache</a>
					<a href="#" class="list-group-item list-group-item-action">Nginx</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
				</ul>
			</div>
			<div class="col-sm-3">
				<ul class="list-group list-group-flush">
					<li class="list-group-item display-6 text-primary">Server's</li>
					<a href="./server/configuraciones" class="list-group-item list-group-item-action">Configuraciones Iniciales</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
				</ul>
			</div>
			<div class="col-sm-3">
				<ul class="list-group list-group-flush">
					<li class="list-group-item display-6 text-primary">Redes</li>
					<a href="./redes/nmcli" class="list-group-item list-group-item-action">Nmcli</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
				</ul>
			</div>
			<div class="col-sm-3">
				<ul class="list-group list-group-flush">
					<li class="list-group-item display-6 text-primary">Titulo</li>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
				</ul>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-sm-3">
				<ul class="list-group list-group-flush">
					<li class="list-group-item display-6 text-primary">Titulo</li>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
				</ul>
			</div>
			<div class="col-sm-3">
				<ul class="list-group list-group-flush">
					<li class="list-group-item display-6 text-primary">Titulo</li>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
				</ul>
			</div>
			<div class="col-sm-3">
				<ul class="list-group list-group-flush">
					<li class="list-group-item text-primary">Titulo</li>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
				</ul>
			</div>
			<div class="col-sm-3">
				<ul class="list-group list-group-flush">
					<li class="list-group-item display-6 text-primary">Titulo</li>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
				</ul>
			</div>
		</div>
	</div>
</section>
