---
layout: pages.njk
title: Linux !!!
---

<!-- Page Content-->
<section class="py-5">
	<div class="container">
		<div class="row text-center mb-5">
			<h1 class="fw-bolder">Linux</h1>
			<p class="lead fw-normal text-muted mb-0">Instalciones, configuraciones, codigos basiscos y avanzados.</p>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<ul class="list-group list-group-flush">
					<li class="list-group-item text-primary">Apache</li>
					<a href="/pages/linux/apache/instalacion" class="list-group-item list-group-item-action">Instalación</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
				</ul>
			</div>
			<div class="col-sm-3">
				<ul class="list-group list-group-flush">
					<li class="list-group-item text-primary">Titulo</li>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
				</ul>
			</div>
			<div class="col-sm-3">
				<ul class="list-group list-group-flush">
					<li class="list-group-item text-primary">Titulo</li>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
				</ul>
			</div>
			<div class="col-sm-3">
				<ul class="list-group list-group-flush">
					<li class="list-group-item text-primary">Titulo</li>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
				</ul>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-sm-3">
				<ul class="list-group list-group-flush">
					<li class="list-group-item text-primary">Titulo</li>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
				</ul>
			</div>
			<div class="col-sm-3">
				<ul class="list-group list-group-flush">
					<li class="list-group-item text-primary">Titulo</li>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
				</ul>
			</div>
			<div class="col-sm-3">
				<ul class="list-group list-group-flush">
					<li class="list-group-item text-primary">Titulo</li>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
				</ul>
			</div>
			<div class="col-sm-3">
				<ul class="list-group list-group-flush">
					<li class="list-group-item text-primary">Titulo</li>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
					<a href="http://" class="list-group-item list-group-item-action">Link</a>
				</ul>
			</div>
		</div>
	</div>
</section>
